.container {
	display: flex;
	flex-direction: column;

	height: 100vh;

	padding: 8px;
	box-sizing: border-box;

	div[style*="pointer-events: none"][style*="text-align: center"] {
  	display: none;
	}
}