.home {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
}

.settings {
	padding-top: 8px;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	row-gap: 8px;
	flex-grow: 1;

	.fields {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;

		& > div {
			flex-basis: 250px;
		}
	}
}

.table {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;

	div[style*="pointer-events: none"][style*="text-align: center"] {
  	display: none;
	}
}