.home {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
	row-gap: 8px;
}

.settings {
	display: flex;
	flex-direction: column;
	row-gap: 8px;

	padding: 4px;
	padding-top: 9px;
	background-color: #ebebeba9;
	border-radius: 4px;
	border: 1px solid #91919191;

	.fields {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;

		& > div {
			min-width: 250px;
			flex-basis: 1;
		}
	}
}

.filters {
	display: flex;
	flex-direction: column;
	row-gap: 8px;

	padding: 4px;
	background-color: #ebebeba9;
	border-radius: 4px;
	border: 1px solid #91919191;
}

.table {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;

	div[style*="pointer-events: none"][style*="text-align: center"] {
  	display: none;
	}
}
